<!DOCTYPE html>
<html>
<head>
<style>
<title>.:Mój Blog:.</title>
table{
}
table, td{
border:none;
}
td{
padding:10px;
text-align:left;
}
h1{
size: 30px;
color:#0f0f0f;
}
a{
color: #89a820;
}
a:hover{
color:#1e1e1e;
}
</style>
</head>
<body>
<div>


<h1>Moje wpisy</h1>
<table>
%for post in posty:
    <tr><td>{{ post[2] }}</td></tr>
    <tr><td> {{ post[1] }} </td></tr>
    <tr><td>Autor:  <b>{{ post[0] }}</b></td></tr>
%end
</table>
</div>

<p><a href="/~p12/wsgi/dodaj">Dodaj wpis</a></p>
<p><a href="/~p12/wsgi/logout">Wyloguj</a></p>
</body>
</html>