<!DOCTYPE html>
<html>
<head>

<title>Dodaj wiadomość</title>
<style>
h1{
size: 30px;
color:#0f0f0f;
}
a{
color: #89a820;
}
a:hover{
color:#1e1e1e;
}
</style>
</head>
<body>
<h1>{{ kom }}</h1>
<p>Dodaj wpis</p>
<form action="/~p12/wsgi/dodaj"  method="POST">
     <input name="content"     type="text" />
     <input type="submit" value="Wyślij" />
</form>
<p><a href="/~p12/wsgi/">Cofnij</a></p>
</body>
</html>