<!DOCTYPE html>
<html>
<head>
<title>Mój Blog</title>
<style>
table{
}
table, td{
border:none;
}
td{
padding:10px;
text-align:left;
}
h1{
size: 30px;
color:#0f0f0f;
}
a{
color: #89a820;
}
a:hover{
color:#1e1e1e;
}
</style>
</head>
<body>
<div>

<h1>Wszystkie wpisy:</h1>
<table>
%for post in posty:
    <tr><td>{{ post[2] }}</td></tr>
    <tr><td> {{ post[1] }} </td></tr>
        <tr><td>Autor:  <b>{{ post[0] }}</b></td></tr>
%end
</table>
</div>

<p><a href="/~p12/wsgi/login">Zaloguj sie</a></p>
</body>
</html>