<!DOCTYPE html>
<html>
<head>
<title>Formularz logowania</title>
<style>
h1{
size: 30px;
color:#0f0f0f;
}
a{
color: #89a820;
}
a:hover{
color:#1e1e1e;
}
</style>
</head>
<body>
<h1>Zaloguj się</h1>
<p>{{ kom }}</p>

<form action="/~p12/wsgi/login"  method="POST">
     <input name="login"     type="text" />
     <input name="password" type="password" />
     <input type="submit" value="Zaloguj" />
</form>
<p><a href="/~p12/wsgi/">POWRÓT</a></p>
</body>
</html>